:root {
    --laranja: hsl(26, 100%, 50%);
    --redlaranja: hsla(16, 100%, 50%, 0.926);
}

* { /* Tudo */
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

.top-bar {
    background: var(--laranja);
    height: 3.5px;
}

header .logotype {
    /*position: relative;*/
    border-color: var(--laranja);
    margin-left: 120px;
    margin-top: 45px;
}

header .container {
    border-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
}

header nav a {
    color: var(--laranja);
    font-size: 20px;
    padding: 5px;

}

header nav a:hover {
    color: var(--redlaranja);
}



img .separator-image {

   
}

.separator-image img {
    width: 100%;
    height: 90px;
    margin-top: 110px;
}


.container li {
    display: inline-block;
}

.wrapper {
    
}

h1 {
    pos
    max-width: 1300px;

}

.principal {
    color: var(--laranja);
    text-align: center;
}

.dados {
background-color: blue;
}

.ebook {
    /*position: absolute;*/
    padding-left: 700px;
    padding-bottom: 100px;

}