<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">


<body>
    <!-- Header -->
    <header class="top-bar">
        <!-- Logotype -->
        <div class="container-top">
            <img src="img/inboundcycle-logo.png" class="logotype" alt="InboundCycle">
            <!-- Social Icons -->
            <nav id="social">
                <div class="facebook">
                    <a href="https://web.facebook.com/InboundCycle/" target="_blank"><i
                            class="fa fa-facebook-square"></i></a>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/inboundcycle" target="_blank"><i class="fa fa-twitter-square"></i></a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/company/inboundcycle/" target="_blank"><i
                            class="fa fa-linkedin-square"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <!-- Separator Image -->
    <div class="separator-image">
        <img src="img/separator-image.png" alt="Separador">
    </div>
    <main>
        <div class="main">
            <!--Container-Izquierda-->
            <div class="container-esquerda wrap">
                <div class="principal wrap">
                    <div class="item1">
                        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nisi ullam sunt
                            nesciunt!.</h1>
                    </div>
                    <div class="item2">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur beatae velit
                            cupiditate.
                        </h2>
                    </div>
                </div>
                <div class="item3">
                    <!-- Ebook -->
                    <img src="img/ebook.png" class="ebook" alt="E-book genérico de InboundCycle">
                </div>
                <div class="texto-longo">
                    <!--Titles-->
                    <p>Duis blandit tempor facilisis. Curabitur ipsum turpis, <a href="#"
                            title="Enlace de prueba">venenatis</a> et
                        massa id, congue dignissim nibh. Praesent vitae justo vel metus faucibus vehicula. Donec vitae
                        semper eros, et
                        viverra leo. Quisque maximus semper mi, sit amet vehicula quam ultricies eu. Nullam euismod orci
                        sed erat
                        blandit vulputate nec vitae arcu. Integer nec imperdiet sem. Nullam a nibh rhoncus, tincidunt
                        arcu eu, porta
                        erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae
                        semper eros, et
                        viverra leo.</p>
                </div>
                <!-- Emphasizes -->
                <div class="emphasizes">
                    Rellena el formulario para descargar la guía <i class="fa fa-long-arrow-right"></i>
                </div>
            </div>

            <!-- Container-Derecha -->
            <div id="container-direita">
                <div class="formulario">
                    <form ID="register-form">
                        <h3>Descargar E-book gratis.</h3>
                        <fieldset>
                            <input type="text" name="nome" id="nombre" placeholder="Nombre">
                            <input type="text" name="surname" id="Apellidos" placeholder="Apellidos">
                            <input type="email" name="email" id="Email" placeholder="E-mail">
                        </fieldset>
                        
                        <!-- Boton -->
                        <div class="check">
                            <fieldset>
                                <input type="checkbox" name="politica" class="agreement">
                                <label for="agreement" class="agreement-label">Acepto la <a href="#"
                                        title="Lea nuestra política de privacidad">política de privacidad*</a></label>
                                <input type="checkbox" name="subscription" class="agreement2">
                                <label for="agreement2" class="agreement-label2">Suscríbeme al blog</label>
                            </fieldset>
                        </div>
                        <button id="btn-submit" onclick="formulario()">DESCARGAR</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-frame">
            <!-- Logotype -->
            <img src="img/inboundcycle-logo-small.png" id="logotype" alt="InboundCycle">
            <!-- Copyright -->
            <div class="footer-direita">
                <small class="copyright">InboundCycle ©</small>
                <!-- Legal menu -->
                <nav class="final">
                    <a href="#" title="Lea nuestra política de privacidad">Política de
                        Privacidad</a>
                    <a id="inf" href="#" title="Lea el aviso legal">Aviso Legal</a>
                </nav>
            </div>
        </div>
    </footer>
    <!--- Scripts -->
    <script>
        function formulario() {
            alert(" Gracias por suscribirte a nuestro blog. En breve recibirás nuestro e-book gratis.");
        }
    </script>

</body>

</html>