<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--responsividade-->
    <link rel="stylesheet" href="">

<body>
    <!-- Header -->
    <header class="top-bar">
        <!-- Logotype -->
        <div class="container">
            <img src="img/inboundcycle-logo.png" class="logotype" alt="InboundCycle">
            <!-- Social Icons -->
            <nav>
                <div class="facebook">
                    <a href="https://web.facebook.com/InboundCycle/" target="_blank"><i
                            class="fa fa-facebook-square"></i></a>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/inboundcycle" target="_blank"><i class="fa fa-twitter-square"></i></a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/company/inboundcycle/" target="_blank"><i
                            class="fa fa-linkedin-square"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <!-- Separator Image -->
    <div class="separator-image">
        <img src="img/separator-image.jpg" alt="Separador">
    </div>
    <!-- Container -->
    <main>
        <div class="wrapper">
            <section>
                <div class="bloco-ebook">
                    <!-- Ebook -->
                    <img src="img/ebook.png" class="ebook" alt="E-book genérico de InboundCycle">
                    <div class="conteudo">
                    </div>
                    <!-- Titles -->
                    <h1 class="principal" alt="Assunto Principal da página">ipsum dolor sit amet elit consectetur
                        adipiscing
                        euipsum
                        porttitor ligula donec</h1>
                    <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit eu porttitor ligula donec</h2>
                    <!-- Body text -->
                    <p>Duis blandit tempor facilisis. Curabitur ipsum turpis, <a href="#"
                            title="Enlace de prueba">venenatis</a>
                        et massa id, congue dignissim nibh. Praesent vitae justo vel metus faucibus vehicula. Donec
                        vitae semper
                        eros,
                        et viverra leo. Quisque maximus semper mi, sit amet vehicula quam ultricies eu. Nullam euismod
                        orci sed erat
                        blandit vulputate nec vitae arcu. Integer nec imperdiet sem. Nullam a nibh rhoncus, tincidunt
                        arcu eu, porta
                        erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae
                        semper eros, et
                        viverra leo.</p>
                </div>
                <!-- Emphasizes -->
                <div class="emphasizes">
                    Rellena el formulario para descargar la guía <i class="fa fa-long-arrow-right"></i>
                </div>
            </section>
            <main>
                <div id="container-esquerda">
                    <div class="textos">
                        <div class="texto-principal">
                            <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, asperiores.</h1>
                        </div>
                        <div class="subtitulo">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nam cupiditate autem!
                            </h2>
                        </div>
                    </div>
                    <div class="livro">

                    </div>
                </div>
                <div class="texto-longo">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque vel laudantium consequatur
                        nesciunt
                        debitis eius omnis ipsum consequuntur rem. Atque delectus dolorum, sed vel ullam explicabo ab
                        nesciunt
                        cumque corrupti.</p>
                </div>
                <div class="outro-texto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur laborum sapiente
                        explicabo est
                        rerum.</p>
                </div>
                <div id="container-direita">
                    <form ID="register-form">
                        <h3>Descargar e-book gratis.</h3>
                        <fieldset>
                            <input type="text" name="nome" id="nombre" placeholder="Nombre">
                            <input type="text" name="surname" id="Apellidos" placeholder="Apellidos">
                            <input type="email" name="email" id="Email" placeholder="E-mail">
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="politica" class="agreement">
                            <label for="agreement" class="agreement-label">Acepto la <a href="#"
                                    title="Lea nuestra política de privacidad">política de privacidad*</a></label>

                            <input type="checkbox" name="subscription" class="agreement2">
                            <label for="agreement2" class="agreement-label2">Suscríbeme al blog</label>
                        </fieldset>
                        <button type="submit" id="btn-submit">DESCARGAR</button>
                        

                    </form>
                </div>
            </main>
        </div>
        <!-- Footer -->
        <footer>
            <div class="footer-frame">
                <!-- Logotype -->
                <img src="img/inboundcycle-logo-small.png" id="logotype" alt="InboundCycle">
                <!-- Copyright -->
                <small class="copyright">InboundCycle ©</small>
                <!-- Legal menu -->
                <nav class="final">
                    <a href="#" title="Lea nuestra política de privacidad">Política de
                        Privacidad</a>
                    <a id="inf" href="#" title="Lea el aviso legal">Aviso Legal</a>
                </nav>
            </div>
        </footer>
        <script src="js/scripts.js"></script>
</body>

</html>