:root {
    --laranja: hsl(26, 100%, 50%);
    --redlaranja: hsla(16, 100%, 50%, 0.926);
    --cinza: rgb(79, 79, 81);
}
/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

div {
    display: flex;
}

.top-bar {
    background: var(--laranja);
    height: 3.5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.top-bar a {
    color: var(--laranja);
}

.separator-image img{
    display: flex;
    width: 2600px;
    height: 100px;
    margin-top: 110px;
}

#social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px;
    font-size: 18px;
}

nav a:hover {
    color: var(--redlaranja);;
}

.facebook {
    padding: 5px;
}

.twitter {
    padding: 5px;
}

.linkedin {
    padding: 5px;
}

.container-top {
    border-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
}

.main {
    display: flex;
	
}

.principal { 
    max-width: 390px;
    font-size: small;
}

.item1 { color: var(--laranja);
    margin-left: 200px;
    padding: auto;

}

h1 {
    display: flex;;
    margin-top: 40px;
}

.item2 {
    color: rgb(181, 179, 179);
    max-width: 90%;
    margin-left: 200px;
    padding-top: 40px;
    
}

div .item3 {
    display: flex;
    position: relative;
    padding-left: 500px;
}

.ebook {
    display: flex;
    max-width: auto;
    margin-left: 200px;
    padding: auto;

}

.texto-longo {
    margin-left: 210px;
    font-size: 16px; 
    padding-top: 80px;  
}

.texto-longo a {
    color: var(--redlaranja);
    font-weight: bold;
    
}

.container-esquerda {
    position: relative;
    display: flex;
    max-width: 1800px;
}

.wrap {
    flex-wrap: wrap;
}


#container-direita {
    display: flex;
    border-radius: 10px;
    padding: px;
    background-color: rgb(240, 238, 238);
    margin: 30px 20px 100px 30px;
}

#container-direita h3 {
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--laranja);
    margin-bottom: 25px;
}

h3 {
    padding-left: 30px;
}



.emphasizes {
    display: flex;
    color: var(--redlaranja);
    margin-left: 700px;
    font-weight: bold;
    font-size: 20px;
}
input, label {
    display: block;
    margin-bottom: 10px;
    
}

input, label:focus {
    outline: none;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    width: 400px;
    border-bottom: 2px solid;
    padding: 20px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.check {
    display: flex;

    max-width: 223px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
fieldset a{
    color: var(--laranja);
}

.agreement{
    margin-right: 5px;


}

.agreement, .agreement-label {
    display: inline-block;
    width: auto;
    font-size: 13.8px;

}

.agreement2, .agreement-label2 {
    display: inline-block;
    width: auto;
    margin: 0px 5px 15px 0px;
    font-size: 90%;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(1.2);
  padding: 10px;
}
#btn-submit {
    width: 400px;
    padding: 20px;
    background-color: var(--redlaranja);
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;
    margin-right: 50;
}


.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-end;
    padding: 5px;
}

footer a:link {
    text-decoration: none;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    color: #aaa;
}

small {
    color: rgb(255, 255, 255);
    padding: 0;
}
footer {
    display: flex;
    flex-direction: column;
}

.logotype {
    display: flex;
    margin-left: 12%;
}

.footer-frame {
    display: flex;
    flex-direction: row;
    background-color: var(--cinza);
    max-height: 109px;
}

.footer-frame img {
    height: 59px;
    width: auto;
}

#logotype {
    display: flex;
    margin-left: 200px;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-top: 40px;
} 

.copyright {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-left: 400px; 
    align-items: center;
}

.copyright:after {
    content: "|";
    color: white;
    padding-left: 10px;
}


.final a {
    color: white ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: center;
}

 
#inf:before {
    content: "|";
    color: white;
    padding-right: 10px;
}

/* max-width  */
@media screen and (max-width: 600px) {
	.um {
		background: #F9C;
	}
	span.lt600 {
		display: inline-block;
	}
}

/* min-width */
@media screen and (min-width: 900px) {
	.dois {
		background: #F90;
	}
	span.gt900 {
		display: inline-block;
	}
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
	.tres {
		background: #9CF;
	}
	span.bt600-900 {
		display: inline-block;
	}
}

/* max device width */
@media screen and (max-device-width: 480px) {
	.iphone {
		background: #ccc;
	}
}