:root {
    --laranja: hsl(26, 100%, 50%);
    --redlaranja: hsla(16, 100%, 50%, 0.926);
    --cinza: rgb(79, 79, 81);
}
/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-top {
    border-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
}


div {
    display: flex;
}

.top-bar {
    background: var(--laranja);
    height: 3.5px;
}

.logotype {
    display: flex;
    margin-left: 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.top-bar a {
    color: var(--laranja);
}

.separator-image img{
    display: flex;
    width: 2600px;
    height: 100px;
    margin-top: 110px;
}

#social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 18px;
}

nav a:hover {
    color: var(--redlaranja);
}

.facebook {
    padding: 5px;
}

.twitter {
    padding: 5px;
}

.linkedin {
    padding: 5px;
}

.main {
    display: flex;
}

.principal { 
    max-width: 390px;
    font-size: small;
}

.item1 { 
color: var(--laranja);
    max-width: auto;
    margin-left: 200px;
    box-sizing: border-box;
}

h1 {
    display: flex;
    margin-top: 40px;
}

.item2 {
    color: rgb(181, 179, 179);
    max-width: 100%;
    margin-left: 200px;
    padding-top: 40px;
}

div .item3 {
    display: flex;
    padding-left: 500px;
}

.ebook {
    display: flex;
    margin-left: 200px;
    background-size: cover;
}

.texto-longo {
    margin-left: 210px;
    font-size: 16px; 
    padding-top: 80px;  
}

.texto-longo a {
    color: var(--redlaranja);
    font-weight: bold;
    
}

.container-esquerda {
    display: flex;
    max-width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

#container-direita {
    display: flex;
    border-radius: 10px;
    background-color: rgb(240, 238, 238);
    margin: 30px 20px 100px 30px;
}

#container-direita h3 {
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--laranja);
    margin-bottom: 25px;
}

h3 {
    padding-left: 30px;
}

.emphasizes {
    display: flex;
    color: var(--redlaranja);
    margin-left: 700px;
    font-weight: bold;
    font-size: 20px;
}

input, label {
    display: block;
    margin-bottom: 10px;
}

input, label:focus {
    outline: none;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    width: 400px;
    border-bottom: 2px solid;
    padding: 20px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.check {
    display: flex;
    width: 223px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
fieldset a {
    color: var(--laranja);
}

.agreement {
    margin-right: 5px;
}

.agreement, .agreement-label {
    display: inline-block;
    width: auto;
    font-size: 13px;

}

.agreement2, .agreement-label2 {
    display: inline-block;
    width: auto;
    margin: 0px 5px 15px 0px;
    font-size: 13px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(1.2);
  padding: 10px;
}
#btn-submit {
    width: 400px;
    padding: 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;
    margin-right: 50;

    background-color: var(--laranja);

}

#btn-submit:hover{
    cursor: pointer;
    color: white;
    transition: .3s ease all;
}


.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-end;
    padding: 5px;
}

footer a:link {
    text-decoration: none;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    color: #aaa;
}

small {
    color: rgb(255, 255, 255);
    padding: 0;
}
footer {
    display: flex;
    flex-direction: column;
}


.footer-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cinza);
}

.footer-frame img {
    height: 59px;
    width: auto;
    padding-right: 1200px;
}


#logotype {
    display: flex;
    margin-left: 200px;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-top: 40px;
} 

.copyright {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-left: 400px; 
    align-items: center;
}

.copyright:after {
    content: "|";
    color: white;
    padding-left: 10px;
}


.final a {
    color: white ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: center;
}

 
#inf:before {
    content: "|";
    color: white;
    padding-right: 10px;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}